body {
    background-image: url('../images/background.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: white;
    padding-bottom: 1em;
    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
}