.rw-sentence {
	margin: 0;
  text-align: left;
}

.rw-words {
	display: inline;
	text-indent: 10px;
}

.rw-words-1 span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 4.5s linear infinite 0s;
	-ms-animation: rotateWord 4.5s linear infinite 0s;
  animation: rotateWord 4.5s linear infinite 0s;
  &:nth-child(2) {
    -webkit-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  &:nth-child(3) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
  }
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
